.screen1{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-height: 110dvh;
    background-image: url(../../../assets/images/concentric-circle-1.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    @include respond(tab-land){
        background-size:cover;
        // flex-direction: column;
        min-height: 60dvh;
        &__2{
            width: 60%;
        }
        flex-direction: column-reverse;
        
    }
    @include respond(tab-port){
        
    }
    @include respond(phone){
        width: 100%;
    }
    &__heading{
        margin-bottom: -2rem;
        margin-top: 2rem;
        text-align: center;
    }
    &__1, &__2{
        display: flex;
        justify-content: center;
        height: 100%;
    }
    &__1{
        width: 40%;
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        // padding-top: 10rem;
        @include respond(tab-land){
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        &_btn{
            padding: 1rem 2rem;
            font-size: 1.5rem;
            margin-top: 2rem;
            box-shadow: 0 1rem 1rem rgba($color-techtitans-btn-secondary,.7);
            text-transform: uppercase;
            @include respond(tab-land){
                // font-size: 1.2rem;
                padding: .5rem 1rem;
            }
            @include respond(tab-port){
                // font-size: 1.5rem;
                // padding: 1rem 2rem;
                // margin-top: 1rem;
            }
            @include respond(phone){
                // font-size: 1rem;
                // padding: 1rem 2rem;
                
            }
            &:hover{
                box-shadow: 0 2rem 1rem rgba($color-techtitans-btn-secondary,.7);
            }
            &:active{
                box-shadow: 0 1.5rem 1rem rgba($color-techtitans-btn-secondary,.7);
            }
        }
        &_moto{
            @include respond(tab-port){
                // display: none;
                margin-top: 3rem;
                font-size: 1.5rem;
            }
        }
    }
    &__2{
        
        align-items:end; 
        perspective: 1550px;
        &_boxesWrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        &_boxes{
            flex-flow: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            // transform: rotateX(20deg) rotateY(-20deg) rotateZ(15deg);
            margin-top: 40vh;
            @include respond(phone){
                display: none;
            }
            & .box{
                color: $color-white;
                box-shadow: 0rem 2rem 1rem rgba($color-techtitans-btn-secondary,.7);
                width:15rem;
                height: 10rem;
                background-color: $color-techtitans-tertiary;
                border: 3px solid $color-techtitans-tertiary;
                border-radius: 10px;
                overflow: hidden;
                padding: .5rem ;
                position: relative;
                
            }
            & .box--1,& .box--2{
                height: 20rem;
            }
            & .box--1__btn, & .box--3__btn, & .box--4__btn{
                background:$color-techtitans-btn-primary;
                padding: .5rem 1rem;
                font-size: 1rem;
                border: none;
                border-radius: 10px;
                position: absolute;
                right: 2px;
                top: 2px;
                transition: .2s linear;
                cursor: pointer;
                color: $color-white;
                &:hover{
                    transform: translateY(-2px);
                }
                &:active{
                    transform: translateY(2px);
                }

            }
            & .box--1__code{
                font-family: $font-code;
                color: $color-white;
                margin-top: 3rem;
                padding: 1rem;
            }
            & .box--2, & .box--4{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                word-wrap: break-word;
                color: $color-white;
                & img{
                    
                    // height: 5rem;
                }
            }
            & .box--3__btn{
                background-color: $color-techtitans-btn-success;
            }
            & .box--4__btn{
                background-color: $color-techtitans-btn-purple;
            }
            & .box--3__img{
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
            
            & .box--3__input{
                transition: .5s linear;
                margin-top: 3rem;
                border: 4px solid $color-white;
                background-color: transparent;
                color: $color-white;
                width: 95%;
                height: 2rem;
                font-size: 2rem;
                @include respond(tab-land){
                    width: 85%;
                }
            }
        }
        @include respond(tab-land){
            width: 100%;
            &_boxes{
                transform: scale(.6);
                margin-top: 0vh;
            }
            &_boxesWrapper{
                // transform: scale(.7);
            }
        }
        @include respond(phone){
            &_boxes{
                transform: scale(.3) ;
            }
        }
    }

}



.add-animation-codeLoad{
    animation: codeLoad .1s ease-in-out 1;
}