// grey
$color-grey: #777;

// white
$color-white: #fff;
$color-white-2: #f4f4f4;


// black
$color-black: #000;


// techtitan palette
$color-techtitans-primary:#011930;
$color-techtitans-secondary: #02203C;
$color-techtitans-tertiary:#1F384E;

// techtitan button
$color-techtitans-btn-primary:#4c5adf;
$color-techtitans-btn-secondary:#02203C;
$color-techtitans-btn-success:#008529;
$color-techtitans-btn-purple:#5A395A;

// techtitans fonts
$font-content:'Open Sans', sans-serif;
$font-heading: 'ubuntu', sans-serif;
$font-code: 'Source Code Pro', monospace;
