
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navigation-wrapper{

}

.sidebarToggler{
    z-index: 1001;
    display: none;
    @include respond(phone){
        display: flex;
    }
}
.sidebar{
    position: fixed;
    height: 100dvh;
    top: 0;
    left: 0;
    background-color: rgba($color-techtitans-primary,1);
    z-index: 1000;
    padding: 5rem 1rem;
    width: 100dvw;
    animation: sidebar .2s ease-in;
}



.navigation{
    padding: .5rem 10rem;
    padding-top: 2rem;
    // background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(tab-land){
        padding: .5rem 1rem;
        // justify-content: center;
    }
    &__anchorWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond(tab-land){
           display: none;
        }
        &_anchor{
            font-family: 'Montserrat', sans-serif;
            color:rgba($color-grey,.8);
            text-transform: capitalize;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 .5rem;
            padding: .5rem .5rem;
            border-radius: 5px;            
            // text-shadow: 0 1rem 2rem rgba($color-black,.8);
            transition: .2s all;
            font-weight: 600;
            &--img{
                border-radius: 50%;  
                padding: .2rem .2rem;    
            }
            @include respond(phone){
                margin: .5rem 0;
                width: 50%;
            }
            & img{
                height: 2rem;
                width: 2rem;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
            &:hover{
                transform: translateY(-3px);
            }
            &:active{
                transform: translateY(3px);
            }
        }
    }
    &__figure{
        padding: 0;
        margin: 0;
        &_logo{
            height:3rem;
            background-color:blueviolet;
            border-radius: 10px;
            box-shadow: 0 1rem 1rem rgba($color-techtitans-secondary,.8);
            // z-index: 10001;
        }
    }
    &__toggle-btn{
        border-radius: 18px;
        height: 1.5rem;
        width: 3.5rem;
        position: relative;
        padding: 0;
        transition: .2s ease-out;
        & img{
            transition: .2s ease-out;
            height: 150%;
            transform: translate(-50%,-50%);
        }
        &--light{
            border: 2px solid $color-black;
            background-color: $color-white;
            & img{
                position: absolute;
                top:50%;
                left:25%;
            }
        }
        &--dark{
            border: 2px solid $color-white;
            background-color: $color-techtitans-btn-secondary;
            & img{
                position: absolute;
                top:50%;
                left:75%;
            }
        }
    }
}

.active{
    background-color: rgba($color-black,.9);
    color:$color-white;
    box-shadow: 0 1rem 2rem -1rem rgba($color-black,.8);

}