.prelanding{
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100dvh;
    background-image: url(../../assets/images/concentric-circle-1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    // position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    // color: $color-white;
    font-family: "source code pro";
    &__imgWrapper{
        & img{
            height: 10rem;
            border-radius: 10px;
            box-shadow: 0 0 2rem $color-black;

        }
    }
    &__text{
        width: 50%;
        margin-top: 3rem;
        line-height: 1.5;
        letter-spacing: 2px;
        font-weight: bolder;
        font-size: 1.4rem;
        text-align: justify;
    }
}